$primary-text-color: #646464;
$second-text-color: #212121;
$white: #ffffff;
$brow: #caa892;
$brow-dark: #b0855b;
$green: #37806b;
$green-dark: #1c6a54;
$bg-grey: #f8f8f8;
$bg-input: #eeeeee;
$bg-line: #c4c4c4;
$bg-media: #d5d5d5;
$error-ms-color: #ff0000;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
