<section id="project" class="works">
  <div class="works__container container">
    <h2 class="works__title">
      3000+ Completed Work <span>Which WE have Successfully Done</span>
    </h2>
    <ul class="works__list">
      <li class="works__item">
        <p class="works__number">980</p>
        <p class="works__text">Project</p>
      </li>
      <li class="works__item">
        <p class="works__number">520</p>
        <p class="works__text">Happy Client</p>
      </li>
      <li class="works__item">
        <p class="works__number">330</p>
        <p class="works__text">Winners</p>
      </li>
      <li class="works__item">
        <p class="works__number">120</p>
        <p class="works__text">Recoment</p>
      </li>
    </ul>
  </div>
</section>
