<section id="shop" class="forget">
  <div class="forget__container container">
    <h2 class="forget__title">don't forget to sing up</h2>
    <p class="forget__text">
      Find out early about all upcoming promotions and new product releases with
      our newsletter.
    </p>
    <form class="forget__form">
      <div class="forget__form-topline">
        <label class="forget__form-label">
          <input
            type="text"
            class="forget__form-name"
            name="name"
            placeholder="Enter your name....."
            required
          />
          <span></span>
        </label>
        <label class="forget__form-label">
          <input
            type="text"
            class="forget__form-surname"
            name="surname"
            placeholder="Enter your surname....."
            required
          />
          <span></span>
        </label>
      </div>
      <input
        type="email"
        class="forget__form-email"
        name="email"
        placeholder="Enter your e-mail....."
        required
      />
      <button type="submit" class="forget__form-btn prime-btn">
        subscribe
      </button>
    </form>
  </div>
</section>
