<footer id="footer" class="footer">
    <div class="container footer__container">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="">
            <img
              src="./img/logo.png"
              alt="logo"
              class="footer__logo"
              width="151px"
              height="47px"
            />
          </a>
          <p class="footer__desc">
            But i must explain to you all this mistaken idea of dencouncing
            pleasure.
          </p>
        </li>
        <li class="footer__item">
          <h3 class="footer__title">Quick Links</h3>
          <ul class="footer-links">
            <li class="footer-links__item">
              <a href="" class="footer-links__link">About Our Company</a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link">Services WE provide </a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link"> Career & Opportunity</a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link"> Privacy & policy </a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link">Contact US</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <h3 class="footer__title">Company</h3>
          <ul class="footer-links">
            <li class="footer-links__item">
              <a href="" class="footer-links__link">About Company</a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link">Our Testimonialst</a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link"> Latest News</a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link"> Our misson </a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link">Get a free Quo</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <h3 class="footer__title">Contact us</h3>
          <ul class="footer-links">
            <li class="footer-links__item">
              <a href="" class="footer-links__link">Sagrada Familia, Herba </a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link">Street Front USA </a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link">brandoxide@gmail.com </a>
            </li>
            <li class="footer-links__item">
              <a href="" class="footer-links__link">002-56842359</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <h3 class="footer__title">Follow Us</h3>
          <ul class="social-networks">
            <li class="social-networks__item">
              <a href="https://www.facebook.com/"  class="social-networks__link" target="_blank" rel="noopener noreferrer"
                ><svg class="social-networks__svg">
                    <use href="./img/svg/media.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-networks__item">
              <a href="https://twitter.com/" class="social-networks__link" target="_blank" rel="noopener noreferrer" 
                ><svg class="social-networks__svg">
                    <use href="./img/svg/media.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-networks__item">
              <a href="https://www.instagram.com/" class="social-networks__link" target="_blank" rel="noopener noreferrer" 
                ><svg class="social-networks__svg">
                    <use href="./img/svg/media.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-networks__item">
              <a href="https://www.linkedin.com/" class="social-networks__link" target="_blank" rel="noopener noreferrer" 
                ><svg class="social-networks__svg">
                  <use href="./img/svg/media.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <p class="footer__copyright">Copyright @ <span class="footer__copyright-year">2020</span> <span class="footer__copyright_accent">Brandoxide</span>.all right reserved.</p>
    </div>
  </footer>