<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo link">
      <img src="./img/logo.png" alt="Decbase logo" width="151" height="47" />
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#hero" class="header__nav-link">home</a>
        </li>
        <li class="header__nav-item">
          <a href="#project" class="header__nav-link">project</a>
        </li>
        <li class="header__nav-item">
          <a href="#services" class="header__nav-link">services</a>
        </li>
        <li class="header__nav-item">
          <a href="#about" class="header__nav-link">about</a>
        </li>
        <li class="header__nav-item">
          <a href="#blog" class="header__nav-link">blog</a>
        </li>
        <li class="header__nav-item">
          <a href="#shop" class="header__nav-link">shop</a>
        </li>
        <li class="header__nav-item">
          <a href="#footer" class="header__nav-link">contact</a>
        </li>
      </ul>
    </nav>
    <button class="header__autorization" type="button">Sign Up</button>
  </div>
    <div class="header__bar-track">
      <div class="header__bar-thumb"></div>
    </div>
</header>
