<section id="hero" class="hero">
  <div class="hero__container container">
    <div class="hero__text-wrap">
      <p class="hero__headline">modern interior</p>
      <h1 class="hero__title">Create Your Interior Design.</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <button class="hero__btn prime-btn" type="button">contact</button>
    </div>
    <div class="hero__img-thumb">
      <picture>
        <source
          srcset="./img/hero.webp 1x, ./img/hero2x.webp 2x"
          type="image/webp"
        />
        <img
          class="hero__img"
          srcset="./img/hero.jpg 1x, ./img/hero2x.jpg 2x"
          src="./img/hero.jpg"
          alt="living room"
          width="716"
          height="614"
        />
      </picture>
    </div>
  </div>
</section>
