<section id="blog" class="latest-news">
  <div class="container latest-news__container">
    <p class="latest-news__headline">letest news</p>
    <h2 class="latest-news__title">From Our Blog</h2>
    <ul class="latest-news__list">
      <li class="latest-news__item">
        <div class="latest-news__thumb">
          <picture>
            <source
              srcset="./img/mirrow-1x.webp 1x, ./img/mirrow-2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./img/mirrow-1x.avif 1x, ./img/mirrow-2x.avif 2x"
              type="image/avif"
            />
            <source srcset="./img/mirrow-1x.png 1x, ./img/mirrow-2x.png 2x" />
            <img
              src="./img/mirrow-1x.png"
              alt="mirrow"
              width="553px"
              height="387px"
              class="latest-news__img"
            />
          </picture>
        </div>
        <h3 class="latest-news__subtitle">2020 Interior Design Trends</h3>
        <p class="latest-news__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod incididunt ut labore et dolore magna aliqua.
        </p>
        <button type="button" class="latest-news__btn prime-btn">
          continue reading....
        </button>
      </li>
      <li class="latest-news__item">
        <div class="latest-news__thumb">
          <picture>
            <source
              srcset="./img/tv-1x.webp 1x, ./img/tv-2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./img/tv-1x.avif 1x, ./img/tv-2x.avif 2x"
              type="image/avif"
            />
            <source srcset="./img/tv-1x.png 1x, ./img/tv-2x.png 2x" />
            <img
              src="./img/tv-1x.png"
              alt="tv"
              width="553px"
              height="387px"
              class="latest-news__img"
            />
          </picture>
        </div>
        <h3 class="latest-news__subtitle">
          28 Notable Product at ARC Interior Design
        </h3>
        <p class="latest-news__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod incididunt ut labore et dolore magna aliqua.
        </p>
        <button type="button" class="latest-news__btn prime-btn">
          continue reading....
        </button>
      </li>
    </ul>
  </div>
</section>
