<div class="loader">
  <div id="app-cover">
    <div class="square">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="ghost">
      <div id="eyes">
        <div class="eye"></div>
        <div class="eye"></div>
      </div>
      <div id="mouth"></div>
      <div id="legs"></div>
    </div>
  </div>
  <span class="loader-bear"></span>
  <span class="loader-car"></span>
  <span class="loader-ball"></span>
  <span class="loader-loop"></span>
</div>
