<section class="testimonials">
  <div class="testimonials__container container">
    <p class="testimonials__topline">testimonials</p>
    <h2 class="testimonials__title">Client says about us</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/card-men.webp 1x, ./img/card-men2x.webp 2x"
              type="image/webp"
            />
            <img
              class="swiper-slide__img"
              srcset="./img/card-men.jpg 1x, ./img/card-men2x.jpg 2x"
              src="./img/card-men.jpg"
              alt="card men"
              width="130"
              height="130"
            />
          </picture>
          <p class="swiper-slide__title">
            <span>Louis Saville</span> /CEO at Google inc
          </p>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/card-women.webp 1x, ./img/card-women2x.webp 2x"
              type="image/webp"
            />
            <img
              class="swiper-slide__img"
              srcset="./img/card-women.jpg 1x, ./img/card-women2x.jpg 2x"
              src="./img/card-women.jpg"
              alt="card women"
              width="130"
              height="130"
            />
          </picture>
          <p class="swiper-slide__title">
            <span>Louis Saville</span> /CEO at Google inc
          </p>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/card-men.webp 1x, ./img/card-men2x.webp 2x"
              type="image/webp"
            />
            <img
              class="swiper-slide__img"
              srcset="./img/card-men.jpg 1x, ./img/card-men2x.jpg 2x"
              src="./img/card-men.jpg"
              alt="card men"
              width="130"
              height="130"
            />
          </picture>
          <p class="swiper-slide__title">
            <span>Louis Saville</span> /CEO at Google inc
          </p>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/card-women.webp 1x, ./img/card-women2x.webp 2x"
              type="image/webp"
            />
            <img
              class="swiper-slide__img"
              srcset="./img/card-women.jpg 1x, ./img/card-women2x.jpg 2x"
              src="./img/card-women.jpg"
              alt="card women"
              width="130"
              height="130"
            />
          </picture>
          <p class="swiper-slide__title">
            <span>Louis Saville</span> /CEO at Google inc
          </p>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/card-men.webp 1x, ./img/card-men2x.webp 2x"
              type="image/webp"
            />
            <img
              class="swiper-slide__img"
              srcset="./img/card-men.jpg 1x, ./img/card-men2x.jpg 2x"
              src="./img/card-men.jpg"
              alt="card men"
              width="130"
              height="130"
            />
          </picture>
          <p class="swiper-slide__title">
            <span>Louis Saville</span> /CEO at Google inc
          </p>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/card-women.webp 1x, ./img/card-women2x.webp 2x"
              type="image/webp"
            />
            <img
              class="swiper-slide__img"
              srcset="./img/card-women.jpg 1x, ./img/card-women2x.jpg 2x"
              src="./img/card-women.jpg"
              alt="card women"
              width="130"
              height="130"
            />
          </picture>
          <p class="swiper-slide__title">
            <span>Louis Saville</span> /CEO at Google inc
          </p>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="swiper-button">
        <div class="swiper-button-next">
          <svg class="swiper-button-next-icon">
            <use href="./img/svg/arrow.svg#icon-left"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="swiper-button-prev-icon">
            <use href="./img/svg/arrow.svg#icon-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
