<section id="services" class="posts">
  <div class="posts__container container">
    <p class="posts__topline">what we do</p>
    <h2 class="posts__title">Our Posts</h2>
    <ul class="posts__buttons">
      <li class="posts__buttons-item">
        <button class="posts__buttons-btn" type="button" userId="all">all</button>
      </li>
      <li class="posts__buttons-item">
        <button class="posts__buttons-btn" type="button" userId="1">user first</button>
      </li>
      <li class="posts__buttons-item">
        <button class="posts__buttons-btn" type="button" userId="2">user second</button>
      </li>
      <li class="posts__buttons-item">
        <button class="posts__buttons-btn" type="button" userId="3">user third</button>
      </li>
    </ul>
    <ul class="posts__list">
      <li class="posts__list-item">
        <h3 class="posts__list-title">Interior Design1</h3>
        <p class="posts__list-text">
          Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor
          incididunt ut labore.
        </p>
      </li>
    </ul>
  </div>
</section>
