.hero {
  position: relative;
  padding-top: 70px;
  padding-bottom: 250px;
  &::after {
    content: '';
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 212px;
    height: 151px;
    background-image: url('../img/svg/dot-squear.svg');
  }
  &__container {
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 14px;
  }
  &__text-wrap {
    max-width: 632px;
  }
  &__headline {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 1.08;
    color: $second-text-color;
    text-transform: capitalize;
  }
  &__text {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.66;
  }
  
  &__img-thumb {
    width: 100%;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 30px;
      left: 32px;
      z-index: -1;
      width: 100%;
      height: 100%;
      border: 2px solid $brow-dark;
      border-radius: 140px 0px;
    }
  }
  &__img {
    border-radius: 140px 0px;
  }
}
