.latest-news {
  background-color: $bg-grey;
  padding-top: 93px;
  padding-bottom: 123px;
  &__container {
    width: 1350px;
  }

  &__headline {
    margin-bottom: 21px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
  }

  &__title {
    margin-bottom: 82px;
    font-size: 48px;
    font-weight: 500;
    color: #111;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 130px;
    text-align: left;
  }
  &__item {
    max-width: 608px;
  }
  &__img {
    position: relative;
    z-index: 1;
  }

  &__thumb {
    position: relative;
    max-width: 554px;
    margin-bottom: 60px;
    transform: scale(1);
    transition: transform 300ms $timing-function;
    &:hover {
      transform: scale(1.1);
    }
    &::after {
      content: '';
      position: absolute;
      top: 22px;
      left: 20px;
      width: 100%;
      height: 100%;
      border: 2px solid $brow-dark;
      border-radius: 140px 0px;
    }
  }

  &__subtitle {
    margin-bottom: 17px;
    font-size: 30px;
    font-weight: 600;
    color: $second-text-color;
  }

  &__text {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 1.55;
  }
}
