.posts {
  padding-bottom: 500px;
  &__container {
    width: 1680px;
  }
  &__topline {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.2px;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: $second-text-color;
  }
  &__buttons {
    display: flex;
    gap: 75px;
    margin-bottom: 50px;
    &-item {
    }
    &-btn {
      width: 206px;
      height: 46px;
      color: $white;
      text-transform: uppercase;
      border-radius: 20px;
      border: 5px solid $green;
      background-color: $green;
      transition: color 300ms $timing-function,
        background-color 300ms $timing-function;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $green;
        background-color: $white;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    &-item {
      max-width: 480px;
      padding: 40px;
      padding-left: 100px;
      border-radius: 60px 0px;
      background-color: $white;
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
      &[userId='2'] {
        background-color: $brow;
      }
    }
    &-item[userId='2'],
    &-item[userId='2'] > &-title {
      color: $white;
    }
    &-title {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 700;
      color: $second-text-color;
      letter-spacing: -0.18px;
      text-transform: capitalize;
    }
    &-text {
      font-size: 14px;
      letter-spacing: -0.18px;
    }
  }
}
