.prime-btn {
  padding: 8px 32px;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  border-radius: 20px 0px;
  border-color: transparent;
  background: $green;
  text-transform: uppercase;
  transition: color 300ms $timing-function,
    background-color 300ms $timing-function, box-shadow 300ms $timing-function;
  cursor: pointer;
  &:hover {
    background-color: $green-dark;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}
