.footer {
  background-color: $bg-grey;
  position: relative;
  padding-top: 145px;
  padding-bottom: 11px;
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: $bg-line;
    bottom: 54px;
    left: 0;
  }
  &::before {
    content: '';
    width: 212px;
    height: 151px;
    background-image: url('../img/svg/dot-squear.svg');
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
  }
  &__container {
    font-size: 18px;
    line-height: 1.55;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 84px;
  }
  &__item {
    &:nth-child(1) {
      margin-right: 73px;
    }
    &:nth-child(2) {
      margin-right: 65px;
    }
    &:nth-child(3) {
      margin-right: 136px;
    }
    &:nth-child(4) {
      margin-right: 18px;
    }
    &:nth-child(5) {
      text-align: center;
    }
    &:nth-child(5) .footer__title {
      margin-bottom: 26px;
    }
  }

  &__logo {
    margin-bottom: 15px;
  }

  &__desc {
    width: 350px;
  }

  &__title {
    color: $primary-text-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.66;

    margin-bottom: 36px;
  }

  &__copyright {
    text-align: center;
    &_accent {
      color: $green;
    }
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 17px;

  &__link {
    font-size: 17px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.social-networks {
  display: flex;
  gap: 10px;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 39px;
    background-color: $bg-media;
    border-radius: 50%;
    transition: background-color 300ms $timing-function;
    &:hover {
      background-color: $green;
    }
  }
  &__svg {
    display: block;
    height: 20px;
    width: 20px;
  }
}
