.header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 20px 0;
  background-color: $white;
  &__container {
    display: flex;
    align-items: center;
    width: 1345px;
    // outline: 1px solid tomato;
  }
  &__nav {
    margin-right: 64px;

    &-list {
      display: flex;
      gap: 42px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &-item:not(:first-child) {
      color: $second-text-color;
    }

    &-link {
      position: relative;
      display: block;
      transition: color 300ms $timing-function;
      &::before {
        content: '';
        position: absolute;
        inset: -10px -20px;
        border: 5px solid $green;
        border-radius: 20px;
        opacity: 0;
        transition: opacity 300ms $timing-function;
      }
      &:hover {
        color: $green;
        &:before {
          opacity: 1;
        }
      }
    }
  }
  &__logo {
    display: block;
    margin-right: 383px;
  }
  &__autorization {
    padding: 4px 18px;
    width: 97px;
    height: 32px;
    color: $white;
    background-color: $brow;
    border: 1px solid transparent;
    border-radius: 15px 0px;
    cursor: pointer;
    transition: background-color 300ms $timing-function,
      box-shadow 300ms $timing-function;

    &:hover {
      background-color: $brow-dark;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }

  &__bar-track {
    height: 5px;
    background-color: rgb(198, 198, 198);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__bar-thumb {
    height: 100%;
    width: 0;
    background-color: $green;
    position: absolute;
    top: 0;
    left: 0;
  }
}
